*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    display: flex;
}

.left-fixed{
    width: 40%;
    height: 100vh;
    background-image: url("./sherlock.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
}

.right-scrollable{
    position: relative;
    left: 40%;
    width: 60%;
    height: 250%;
    /* if I make it 250vh, text goes out of the decorated area */
    background-color: #2a2e20;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
     /* #dc8e43; */
     /* #2a2e20; */
}

.header{
    width: 90%;
    margin: 0 auto;
    margin-top: 10vh;
}

.header > h1{
    text-align: center;
    font-size: 4em;
}

.header > h2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
}

.introduction{
    padding: 2em 3em;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.introduction > p{
    text-align: center;
    color: #f5a357;
}

.para > p{
    margin-bottom: 1em;
    font-size: 1.2em;
    text-align: center;
    text-align: justify;
}

.button > a{
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
    color: #2a2e20;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
    background-color: #f5a357;
    border-radius: 25px;
}

.button{ 
    width: 10%;
    margin: 2em auto;  
}

.footer a{
    text-decoration: none;
    color: tomato;
}

.footer > p{
    text-align: center;
    font-size: 0.5em;
}

@media (max-width: 1000px){
    .container{
        display: block;
    }

    .left-fixed{
        width: 100%;
        position: static;
    }

    .right-scrollable{
        width: 100%;
        position: static;
        padding-top: 1em;
    }
}